<div class="outer">
  <div class="container">
    <div class="header">
      <div class="header__logo">
        <a routerLink="/" class="header__logo__link">
          <img src="../assets/img/logo.svg" alt="" />
        </a>
      </div>

      <div class="header__nav">
        <div (click)="expanded = !expanded" class="header__nav__btn">
          <img src="../../assets/img/menu.svg" alt="" />
        </div>
      </div>

      <div *ngIf="expanded" class="header__list">
        <div (click)="expanded = false" class="header__list__close">
          <img src="../../assets/img/close.svg" alt="" />
        </div>
        <ul class="header__list__block">
          <li class="header__list__block__item">
            <a routerLink="/categories" (click)="closeMenu()"
              >Наши направления</a
            >
          </li>
          <li class="header__list__block__item">
            <a
              class="header__list__block__item__link"
              routerLink="/brands"
              (click)="closeMenu()"
              >Бренды</a
            >
            <div class="submenu submenu-right">
              <div class="submenu__column">
                <ul class="submenu__column__item">
                  <li>
                    <a href="#">Корея</a>
                  </li>
                  <li>
                    <a href="#">Россия</a>
                  </li>
                  <li>
                    <a href="#">Италия</a>
                  </li>
                  <li>
                    <a href="#">Франция</a>
                  </li>
                  <li>
                    <a href="#">Германия</a>
                  </li>
                  <li>
                    <a href="#">Нидерланды</a>
                  </li>
                  <li>
                    <a href="#">Таиланд</a>
                  </li>
                  <li>
                    <a href="#">Великобритания</a>
                  </li>
                </ul>
                <ul class="submenu__column__item">
                  <li>
                    <a href="#">Корея</a>
                  </li>
                  <li>
                    <a href="#">Россия</a>
                  </li>
                  <li>
                    <a href="#">Италия</a>
                  </li>
                  <li>
                    <a href="#">Франция</a>
                  </li>
                  <li>
                    <a href="#">Германия</a>
                  </li>
                  <li>
                    <a href="#">Нидерланды</a>
                  </li>
                  <li>
                    <a href="#">Таиланд</a>
                  </li>
                  <li>
                    <a href="#">Великобритания</a>
                  </li>
                </ul>
              </div>
              <div class="submenu__column">
                <ul class="submenu__column__item">
                  <li>
                    <a href="#">Корея</a>
                  </li>
                  <li>
                    <a href="#">Россия</a>
                  </li>
                  <li>
                    <a href="#">Италия</a>
                  </li>
                  <li>
                    <a href="#">Франция</a>
                  </li>
                  <li>
                    <a href="#">Германия</a>
                  </li>
                  <li>
                    <a href="#">Нидерланды</a>
                  </li>
                  <li>
                    <a href="#">Таиланд</a>
                  </li>
                  <li>
                    <a href="#">Великобритания</a>
                  </li>
                </ul>
                <ul class="submenu__column__item">
                  <li>
                    <a href="#">Корея</a>
                  </li>
                  <li>
                    <a href="#">Россия</a>
                  </li>
                  <li>
                    <a href="#">Италия</a>
                  </li>
                  <li>
                    <a href="#">Франция</a>
                  </li>
                  <li>
                    <a href="#">Германия</a>
                  </li>
                  <li>
                    <a href="#">Нидерланды</a>
                  </li>
                  <li>
                    <a href="#">Таиланд</a>
                  </li>
                  <li>
                    <a href="#">Великобритания</a>
                  </li>
                </ul>
              </div>
              <div class="submenu__column">
                <ul class="submenu__column__item">
                  <li>
                    <a href="#">Корея</a>
                  </li>
                  <li>
                    <a href="#">Россия</a>
                  </li>
                  <li>
                    <a href="#">Италия</a>
                  </li>
                  <li>
                    <a href="#">Франция</a>
                  </li>
                  <li>
                    <a href="#">Германия</a>
                  </li>
                  <li>
                    <a href="#">Нидерланды</a>
                  </li>
                  <li>
                    <a href="#">Таиланд</a>
                  </li>
                  <li>
                    <a href="#">Великобритания</a>
                  </li>
                </ul>
                <ul class="submenu__column__item">
                  <li>
                    <a href="#">Корея</a>
                  </li>
                  <li>
                    <a href="#">Россия</a>
                  </li>
                  <li>
                    <a href="#">Италия</a>
                  </li>
                  <li>
                    <a href="#">Франция</a>
                  </li>
                  <li>
                    <a href="#">Германия</a>
                  </li>
                  <li>
                    <a href="#">Нидерланды</a>
                  </li>
                  <li>
                    <a href="#">Таиланд</a>
                  </li>
                  <li>
                    <a href="#">Великобритания</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="header__list__block__item">
            <a routerLink="/country" (click)="closeMenu()">Страна</a>
          </li>
          <li class="header__list__block__item">
            <a routerLink="/contacts" (click)="closeMenu()">Контакты</a>
          </li>
        </ul>
      </div>

      <!-- <ul class="header__lang">
        <li class="header__lang__item"><a href="#">RU</a></li>
        <li class="header__lang__item"><a href="#">EN</a></li>
        <li class="header__lang__item"><a href="#">CH</a></li>
      </ul> -->
    </div>
  </div>
</div>
