@import "../../assets/scss/libs";
@import "../../assets/scss/mixins";

.header {
  @include f-row-nw-c-betw();
  height: 80px;
  background: #fff;
  position: relative;
  @include md {
  }
  &__list {
    &__close {
      display: none;
      @include md {
        display: block;
        z-index: 30000;
        position: fixed;
        top: 30px;
        right: 15%;
        width: 21px;
        height: 18px;
      }
      & img {
        width: 21px;
        height: 18px;
      }
    }
    &__block {
      @include md {
        z-index: 20000;
        background: #000;
        color: #ff6686;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0;
        margin: 0;
        @include f-col-aicenter-jccenter();
      }
      &__item {
        @include li-menu-item();
        margin-right: 50px;
        @include md {
          margin-right: 0;
          margin-bottom: 20px;
          width: 100%;
          padding: 0 20%;
        }
        &:hover {
          & .header__nav__item__link {
            box-shadow: 0px -15px 11px 3px rgba(0, 0, 0, 0.24);
          }
          & .submenu {
            visibility: visible;
          }
        }
        &__link {
          position: relative;
          padding: 15px 5px;
          z-index: 2000 !important;
          background: #fff;
          &:hover {
            position: relative;
            box-shadow: 0px -15px 11px 3px rgba(0, 0, 0, 0.24);
          }
          @include md {
            background: transparent;
            color: #ff6686;
            padding: 0;
            width: 100%;
          }
        }
        & a {
          display: inline-block;
          z-index: 2000;
          font-size: 18px;
          color: #424242;
          text-transform: uppercase;
          text-decoration: none;
          @include md {
            display: inline-block;
            width: 100%;
            color: #fff;
            font-weight: bold;
            text-decoration: underline;
            text-align: left;
          }
          &:hover {
            color: #ff6686;
          }
        }
      }
    }
  }
  &__nav {
    @include md {
      //height: 50px;
      z-index: 20000;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      width: 100%;
      background-color: #000;
    }
    &__btn {
      display: none;
      @include md {
        z-index: 30000;
        position: absolute;
        top: 17px;
        right: 15%;
        z-index: 20000;
        width: 27px;
        height: 22px;
        display: block;
      }
    }

    // @include md {
    //   color: #fff;
    //   background: #000 !important;
    //   position: fixed;
    //   bottom: 0;
    //   right: 0;
    //   left: 0;
    //   z-index: 10000;
    //   background: #fff;
    //   margin: 0;
    // }
  }
  &__logo {
    background: #fff;
    z-index: 20000;
    @include lg {
      margin: 0 auto;
    }
    @include md {
      position: fixed;
      top: 0;
      left: 0;
      @include f-c-c();
      width: 100%;
    }
  }
  &__lang {
    &__item {
      @include li-menu-item();
      margin-right: 20px;
      & a {
        font-size: 18px;
        color: #424242;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
          color: #ff6686;
        }
      }
    }
  }
}

.submenu {
  display: none;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.53);
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 55px;
  z-index: 100 !important;
  height: 450px;
  flex-direction: row;
  background: #fff;
  &-left {
    left: 0;
  }
  &-right {
    right: 0;
  }
  &__column {
    &__item {
      list-style: none;
      padding: 0 30px;
      & li {
        margin-bottom: 5px;
        & a {
          font-size: 18px;
          color: #000;
          text-transform: unset;
        }
      }
      margin: 15px 0;
    }
  }
}
