@import "../../assets/scss/mixins";

.footer {
  @include f-c-c();
  height: 80px;
  background: #000;
  &__main {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #b9b9b9;
  }
}
