// basic flex styles

//--------------------------------

// basic flex row
@mixin f-row {
  display: flex;
}

// basic flex col
@mixin f-col {
  @include f-row();
  flex-direction: column;
}

@mixin f-col-aicenter {
  @include f-col();
  align-items: center;
}

@mixin f-col-aicenter-jccenter {
  @include f-col-aicenter();
  justify-content: center;
}

//--------------------------------

// basic flex with wrapping (for flex-direction row)

@mixin f-row-nw {
  @include f-row();
  // flex-wrap: nowrap; default
}

@mixin f-row-w {
  @include f-row();
  flex-wrap: wrap;
}

//--------------------------------

@mixin f-row-nw-c {
  @include f-row-nw();
  align-items: center;
}

@mixin f-row-nw-c-c {
  @include f-row-nw-c();
  justify-content: center;
}

@mixin f-row-nw-c-betw {
  @include f-row-nw-c();
  justify-content: space-between;
}

@mixin f-row-w-spb {
  @include f-row-w();
  justify-content: space-between;
}

@mixin f-row-w-spa {
  @include f-row-w();
  justify-content: space-around;
}

@mixin f-row-nw-spa {
  @include f-row-nw();
  justify-content: space-around;
}

@mixin f-row-nw-spb {
  @include f-row-nw();
  justify-content: space-between;
}

@mixin f-row-nw-start {
  @include f-row-nw();
  justify-content: flex-start;
}

// most useable aliases
// alias for @mixin f-row-nw-c-c
@mixin f-c-c {
  @include f-row-nw-c-c();
}

@mixin li-menu-item {
  list-style: none;
  display: inline;
}
