@import "../../assets/scss/libs";
@import "../../assets/scss/mixins";

.c-form {
  @include f-col();
  &__btn {
    background: #307db2;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 40px;
    margin-top: 30px;
    transition: background 0.5s ease;
    &:hover {
      background: #224e6c;
    }
    &:disabled {
      background: #777;
      cursor: not-allowed;
    }
  }
  &__group {
    position: relative;
    width: 400px;
    height: 46px;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &:first-child {
      margin-top: 0;
    }
    &--long {
      height: 120px;
    }
    &--checkbox {
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px 0 5px;
      cursor: pointer;
    }
    @include md {
      width: 100%;
    }
    &__textarea {
      z-index: 100;
      border: 1px solid #828282;
      background: transparent;
      width: 400px;
      height: 100%;
      padding: 20px 10px;
      vertical-align: top;
      & + .c-form__group__label {
        z-index: 50;
        position: absolute;
        font-size: 16px;
        top: 26px;
        left: 11px;
        line-height: 0;
      }
      @include md {
        width: 100%;
      }
      &:valid {
        & + .c-form__group__label {
          position: absolute;
          top: 5px;
        }
      }
      &:focus,
      &:valid,
      &:focus:valid,
      &:focus:invalid {
        & + .c-form__group__label {
          position: absolute;
          top: 12px;
          font-size: 12px;
        }
      }
    }
    &__checkbox {
      margin-right: 5px;
      cursor: pointer;
      &__label {
        cursor: pointer;
      }
    }
    &__input {
      width: 400px;
      height: 46px;
      font-size: 18px;
      box-sizing: border-box;
      border-radius: 0;
      border: 1px solid #828282;
      background: transparent;
      padding: 15px 10px 11px;
      margin-bottom: 20px;
      z-index: 100;
      @include md {
        width: 100%;
      }
      &:valid {
        & + .c-form__group__label {
          position: absolute;
          top: 5px;
        }
      }
      &:focus,
      &:valid,
      &:focus:valid,
      &:focus:invalid {
        & + .c-form__group__label {
          position: absolute;
          top: 8px;
          font-size: 12px;
        }
      }
    }
    &__label {
      z-index: 50;
      cursor: text;
      position: absolute;
      line-height: 0;
      top: 20px;
      left: 11px;
      font-size: 16px;
      color: #828282;
      transition: all 0.2s ease;
      @include md {
      }
    }
    &__error {
      width: 100%;
      padding-top: 4px;
      color: red;
      font-size: 13px;
    }
  }
}
