<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="c-form">
  <div class="c-form__group">
    <input
      formControlName="city"
      class="c-form__group__input"
      type="text"
      required
      [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
    />
    <label for="city" class="c-form__group__label">
      Город
    </label>
  </div>
  <div
    *ngIf="submitted && f.city.errors"
    class="invalid-feedback c-form__group__error"
  >
    <div *ngIf="f.city.errors.required">Введите, пожалуйста, город</div>
  </div>
  <div class="c-form__group">
    <input
      formControlName="name"
      class="c-form__group__input"
      type="text"
      required
    />
    <label for="name" class="c-form__group__label">
      ФИО
    </label>
  </div>
  <div
    *ngIf="submitted && f.name.errors"
    class="invalid-feedback c-form__group__error"
  >
    <div *ngIf="f.name.errors.required">Введите, пожалуйста, ФИО</div>
  </div>

  <div class="c-form__group">
    <input
      formControlName="phone"
      class="c-form__group__input"
      type="text"
      required
    />
    <label for="phone" class="c-form__group__label">
      Телефон
    </label>
  </div>
  <div
    *ngIf="submitted && f.phone.errors"
    class="invalid-feedback c-form__group__error"
  >
    <div *ngIf="f.phone.errors.required">Введите, пожалуйста, телефон</div>
  </div>

  <div class="c-form__group">
    <input
      formControlName="email"
      class="c-form__group__input"
      type="text"
      required
    />
    <label for="email" class="c-form__group__label">
      Email
    </label>
  </div>
  <div
    *ngIf="submitted && f.email.errors"
    class="invalid-feedback c-form__group__error"
  >
    <div *ngIf="f.email.errors.required">Введите, пожалуйста, email</div>
    <div *ngIf="f.email.errors.email">
      Введите, пожалуйста, корректный email
    </div>
  </div>

  <div class="c-form__group c-form__group--long">
    <textarea
      formControlName="message"
      name=""
      class="c-form__group__textarea"
      rows="10"
      required
    ></textarea>
    <label for="message" class="c-form__group__label">
      Сообщение
    </label>
  </div>
  <div
    *ngIf="submitted && f.message.errors"
    class="invalid-feedback c-form__group__error"
  >
    <div *ngIf="f.message.errors.required">
      Введите, пожалуйста, текст сообщения
    </div>
  </div>

  <div class="c-form__group c-form__group--checkbox">
    <input
      id="agreement"
      class="c-form__group__checkbox"
      formControlName="agreement"
      type="checkbox"
      checked
      required
    />
    <label for="agreement" class="c-form__group__checkbox__label"
      >Соглашаюсь с&nbsp;<a href="">обработкой личных данных</a></label
    >
  </div>
  <div
    *ngIf="submitted && f.agreement.errors"
    class="invalid-feedback c-form__group__error"
  >
    <div *ngIf="f.agreement.errors.required">
      Подтвердите, пожалуйста, свое согласие
    </div>
  </div>

  <!-- <div
    class="c-form__group__notification"
    *ngIf="contactForm.status === 'INVALID'"
  >
    <p>
      Заполните, пожалуйста, все поля формы, затем нажмите кнопку Сотрудничать
    </p>
  </div> -->
  <div class="c-form__group">
    <button class="c-form__btn" type="submit">
      Сотрудничать
    </button>
  </div>
</form>
