@import "../../assets/scss/mixins";
@import "../../assets/scss/libs";

.country {
  padding: 0 0 200px;
  &__header {
    text-align: center;
  }
  &__block {
    &__brands {
      @include f-row-nw-spb();
      padding: 10px 10px 60px;
      @include md {
        padding: 10px 20px;
        @include f-row-w-spb();
      }
      &__image {
        width: 180px;
        @include md {
          width: 40%;
          padding: 5px;
          margin-bottom: 10px;
        }
      }
    }
    &__text {
      padding: 0 10px;
      @include md {
        padding: 0 20px;
      }
    }
  }
}
