<div
  class="container-banner"
  style="background-image: url(../../assets/img/wp2.jpg);"
></div>

<div class="outer">
  <div class="container">
    <div class="country">
      <h2 class="country__header">
        Англия
      </h2>
      <div class="country__block">
        <div class="country__block__brands">
          <img
            class="country__block__brands__image"
            src="../../assets/img/brands/milano.png"
            alt=""
          />
          <img
            class="country__block__brands__image"
            src="../../assets/img/brands/mexx.png"
            alt=""
          />
          <img
            class="country__block__brands__image"
            src="../../assets/img/brands/rimmel.png"
            alt=""
          />
          <img
            class="country__block__brands__image"
            src="../../assets/img/brands/gosh.png"
            alt=""
          />
        </div>
      </div>
      <div class="country__block__text">
        <p>
          Мы – НеваЛайн, компания-дистрибьютор косметики, парфюмерии и продуктов
          для ухода и красоты. Мы входим в состав холдинга Парфюм Стандарт,
          который является крупнейшим оператором парфюмерно-косметического
          бизнеса России.
        </p>
        <p>
          Мы не просто дистрибьюторская компания. Мы – Дистрибьюция Красоты. Мы
          создаем будущее, мы формируем тренды, мы новаторы и эксперты мира
          красоты.
        </p>
        <p>
          Мы знаем всё о продажах. Мы умеем вести бизнес от А до Я, мы честны и
          открыты в наших отношениях с клиентом и поддерживаем его на 360° от
          первого звонка до конечной продажи в магазине.
        </p>
        <p>
          Мы придерживаемся эджайл-подхода и адаптируемся под меняющиеся условия
          среды, помогая нашим клиентам быть такими же гибкими как и мы.
        </p>
        <p>
          Мы – НеваЛайн. Мы – Дистрибьюция Красоты.
        </p>
      </div>
    </div>
  </div>
</div>
