<div class="outer">
  <div class="container">
    <div class="notfound">
      <h2>
        404 Страница не найдена
      </h2>
      <p>
        Страница не найдена
      </p>
    </div>
  </div>
</div>
