@import "../../assets/scss/libs";
@import "../../assets/scss/mixins";

// Ng Slider container styling
.c_slideshow {
  height: 650px;
  @include md {
    height: 250px;
  }
}

// Masonry component (ngx-masonry) styling
.categories {
  margin: 0 auto 50px;
  &__item {
    width: 270px;
    margin-bottom: 30px;
    position: relative;
    background-position: top center;
    background-size: cover;
    cursor: pointer;
    transition: height 0.5s ease;
    transition: background-size 0.5s ease;
    @include md {
      width: 100%;
    }
    &--wide {
      width: 570px;
      @include md {
        width: 100%;
      }
    }
    &--active .categories__item__cont {
      padding: 100px 0 20px;
    }
    &--active .categories__item__cont__brands {
      display: block;
      text-align: left;
    }
    &__cont {
      @include f-col-aicenter();
      justify-content: center;
      min-height: 300px;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      user-select: none;
      transition: background 0.5s ease;
      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
      &__name {
        font-size: 22px;
        font-weight: 800;
      }
      &__brands {
        font-weight: 300;
        margin-top: 10px;
        display: none;
        &__brand {
          font-family: "Oswald", Tahoma, sans-serif;
          font-size: 17px;
          margin-bottom: 6px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.feedback {
  padding: 10px 0 200px;
  &__content {
    @include f-row-nw-spa();
    @include md {
      @include f-col();
    }
    &__formblock {
      @include md {
        width: 100%;
      }
      &__form {
        @include f-c-c();
        @include f-col();
        &__btn {
          background: #307db2;
          color: #fff;
          border: none;
          cursor: pointer;
          text-transform: uppercase;
          padding: 10px 40px;
          transition: background 0.5s ease;
          &:hover {
            background: #224e6c;
          }
        }
        &__group {
          position: relative;
          width: 400px;
          height: 46px;
          margin-bottom: 20px;
          box-sizing: border-box;
          display: flex;
          &--long {
            height: 120px;
          }
          @include md {
            width: 100%;
            padding: 0 10px;
          }
          &__textarea {
            border: 1px solid #828282;
            width: 400px;
            height: 100%;
            margin-bottom: 20px;
            padding: 8px 10px;
            vertical-align: top;
            @include md {
              width: 100%;
            }
            &:required:invalid {
              & + .feedback__content__formblock__form__group__label {
                position: absolute;
                font-size: 16px;
                top: 50%;
                left: 11px;
                line-height: 0;
                margin-top: -2px;
                @include md {
                  left: 21px;
                }
              }
            }
            &:focus {
              border: 1px solid #2d9cdb;
              & + .feedback__content__formblock__form__group__label {
                top: 10px !important;
                font-size: 12px !important;
              }
            }
          }
          &__input {
            width: 400px;
            height: 46px;
            font-size: 18px;
            box-sizing: border-box;
            border-radius: 0;
            border: 1px solid #828282;
            padding: 11px 10px;
            margin-bottom: 20px;
            @include md {
              width: 100%;
            }
            &:required:invalid {
              & + .feedback__content__formblock__form__group__label {
                position: absolute;
                font-size: 16px;
                top: 50%;
                left: 11px;
                line-height: 0;
                margin-top: -2px;
                @include md {
                  left: 21px;
                }
              }
            }
            &:focus {
              border: 1px solid #2d9cdb;
              & + .feedback__content__formblock__form__group__label {
                top: 10px !important;
                font-size: 12px !important;
              }
            }
          }
          &__label {
            cursor: text;
            position: absolute;
            line-height: 0;
            top: 10px;
            left: 11px;
            font-size: 12px;
            color: #828282;
            transition: all 0.2s ease;
            @include md {
              left: 21px;
            }
          }
        }
      }
    }
    &__info {
      display: flex;
      flex-direction: row;
      padding-left: 50px;
      @include md {
        padding-left: 0;
        margin-top: 100px;
        @include f-col-aicenter();
      }
      &__text {
        margin: 40px 0 0 -90px;
        font-size: 16px;
        text-transform: uppercase;
        color: #525252;
        align-self: stretch;
        @include md {
          margin: 100px 0 0 0;
          text-align: center;
        }
      }
      &__img > img {
        width: 300px;
      }
    }
  }
}
