<div class="c_slideshow">
  <slideshow
    class="slideshow"
    [height]="height"
    [minHeight]="'250px'"
    [autoPlay]="true"
    [showArrows]="true"
    [imageUrls]="imageUrls"
    [lazyLoad]="imageUrls?.length > 1"
    [autoPlayWaitForLazyLoad]="true"
  >
  </slideshow>
</div>

<div class="outer">
  <div class="container">
    <div class="container__header container__header-leftbordered">
      <h2 class="container__header__h">Наши<br />направления</h2>
    </div>
  </div>
</div>

<div class="outer">
  <div class="container">
    <ngx-masonry
      [options]="{
        transitionDuration: '0',
        gutter: 27,
        fitWidth: true,
        resize: true,
        useImagesLoaded: true,
        updateMasonryLayout: 'updateMasonryLayout',
        horizontalOrder: true
      }"
      class="categories"
    >
      <ngxMasonryItem
        (click)="catActivate(category.id, $event)"
        [class.categories__item--wide]="category.wide"
        [class.categories__item--active]="category.active"
        class="categories__item"
        *ngFor="let category of categories"
        [ngStyle]="{
          'background-image':
            'url(../../assets/img/categories/' + category.img + ')'
        }"
      >
        <div class="categories__item__cont">
          <div class="categories__item__cont__name">
            {{ category.name }}
          </div>
          <div class="categories__item__cont__brands">
            <div
              class="categories__item__cont__brands__brand"
              *ngFor="let brand of category.brands"
            >
              {{ brand }}
            </div>
          </div>
        </div>
      </ngxMasonryItem>
    </ngx-masonry>
  </div>
</div>

<div class="outer">
  <div class="container">
    <section class="block">
      <div class="block__content">
        <h2 class="block__content__header">
          Дистрибьюция красоты
        </h2>
        <div class="block__content__text">
          <p>
            Мы – НеваЛайн, компания-дистрибьютор косметики, парфюмерии и
            продуктов для ухода и красоты. Мы входим в состав холдинга Парфюм
            Стандарт, который является крупнейшим оператором
            парфюмерно-косметического бизнеса России.
          </p>
          <p>
            Мы не просто дистрибьюторская компания. Мы – Дистрибьюция Красоты.
            Мы создаем будущее, мы формируем тренды, мы новаторы и эксперты мира
            красоты.
          </p>
          <p>
            Мы знаем всё о продажах.Мы умеем вести бизнес от А до Я, мы честны и
            открыты в наших отношениях с клиентом и поддерживаем его на 360° от
            первого звонка до конечной продажи в магазине.
          </p>
          <p>
            Мы придерживаемся эджайл-подхода и адаптируемся под меняющиеся
            условия среды, помогая нашим клиентам быть такими же гибкими как и
            мы.
          </p>
          <p>Мы – НеваЛайн. Мы – Дистрибьюция Красоты.</p>
        </div>
      </div>
      <div class="block__img">
        <img src="../assets/img/h2.jpg" alt="" />
      </div>
    </section>
  </div>
</div>

<div class="outer">
  <div class="container">
    <div class="container__header container__header-leftbordered">
      <h2 class="container__header__h">
        Связаться с нами
      </h2>
    </div>
  </div>
</div>

<div class="outer">
  <div class="container">
    <div class="block">
      <section class="feedback">
        <div class="feedback__content">
          <div class="feedback__content__formblock">
            <app-contact-form></app-contact-form>
          </div>
          <div class="feedback__content__info">
            <div class="feedback__content__info__img">
              <img src="../../assets/img/contacts.svg" alt="" />
            </div>
            <div class="feedback__content__info__text">
              <p>
                г. Санкт-Петербург
                <br />
                190005, Митрофаньевское ш., 2 корп. 9, лит.В,
                <br />
                Бизнес-центр «Депо №1»
              </p>
              <p>Мы ждем Вас по будням с 9:30 до 18:00.</p>
              <p>(812) 332-35-55</p>
              <p>sales@parfum.spb.ru</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
