@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Black.woff2') format('woff2'),
        url('KievitPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-ExtraLight.woff2') format('woff2'),
        url('KievitPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Medium.woff2') format('woff2'),
        url('KievitPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro-Book';
    src: url('KievitPro-Book.woff2') format('woff2'),
        url('KievitPro-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-ExtraBold.woff2') format('woff2'),
        url('KievitPro-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Light.woff2') format('woff2'),
        url('KievitPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Thin.woff2') format('woff2'),
        url('KievitPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Regular.woff2') format('woff2'),
        url('KievitPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Bold.woff2') format('woff2'),
        url('KievitPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Italic.woff2') format('woff2'),
        url('KievitPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-ExtraBold.woff2') format('woff2'),
        url('KievitPro-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Medium.woff2') format('woff2'),
        url('KievitPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Black.woff2') format('woff2'),
        url('KievitPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro-Book';
    src: url('KievitPro-Book.woff2') format('woff2'),
        url('KievitPro-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Thin.woff2') format('woff2'),
        url('KievitPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Bold.woff2') format('woff2'),
        url('KievitPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Italic.woff2') format('woff2'),
        url('KievitPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Regular.woff2') format('woff2'),
        url('KievitPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-ExtraLight.woff2') format('woff2'),
        url('KievitPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('KievitPro-Light.woff2') format('woff2'),
        url('KievitPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

