<div
  class="container-banner"
  style="background-image: url(../../assets/img/wp1.jpg);"
></div>

<div class="outer">
  <div class="container">
    <div class="brands">
      <div class="brands__block">
        <div class="brands__block__info">
          <img
            class="brands__block__info__image"
            src="../../assets/img/brands/mexx.svg"
            alt=""
          />
          <div class="brands__block__info__brand">Mexx</div>
          <div class="brands__block__info__country">Амстердам</div>
          <a class="brands__block__info__link" href="#">mexx.com/en</a>
        </div>
        <div class="brands__block__text">
          <p>
            Mexx — торговая марка, под которой нидерландская компания Mexx Group
            B.V производит товары модной индустрии: одежда (для женщин, мужчин,
            подростков и детей), аксессуары, парфюмерия и товары для дома.
            Посредством франчайзинга[1] фирменные магазины открыты по всему
            миру. C 2001 года Mexx Group B.V являлась дочерним предприятием
            корпорации Liz Claiborne, Inc[2]. В 2015 году Mexx был куплен
            турецким холдингом Eroglu, который также владеет брендом Colin's[3].
          </p>
          <p>
            Марка MEXX берёт своё начало в 1980 году, когда эмигрант из Индии
            Раттан Чадха основал в Нидерландах компанию, которая занималась
            импортом из Азии и продажей сочетаемых коллекций одежды под марками
            Emanuelle (женская одежда) и Moustache (мужская). В 1986 году обе
            марки объединились для создания единого международного образа. Из
            слияния заглавных букв получила своё название и сама марка: M —
            Moustache, E — Emanuelle, и XX — английское разговорное обозначение
            поцелуя.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
