@import "../../assets/scss/mixins";
@import "../../assets/scss/libs";

.brands {
  padding: 0 0 200px;
  &__block {
    padding: 60px 0 0 0;
    @include f-row();
    @include md {
      padding: 30px 20px;
      @include f-col();
    }
    &__info {
      width: 25%;
      @include md {
        width: 100%;
      }
      &__image {
        margin-bottom: 10px;
        width: 140px;
      }
      &__brand {
        margin-bottom: 3px;
      }
      &__country {
        margin-bottom: 10px;
      }
    }
    &__text {
      font-size: 16px;
      width: 75%;
      @include md {
        width: 100%;
      }
    }
  }
}
