@import "assets/scss/libs";
@import "assets/scss/mixins";
@import "~normalize.css";

@include font-face(
  Kievit,
  assets/fonts/kievit/KievitPro-Light,
  300,
  normal,
  woff2 woff
);

@include font-face(
  Kievit,
  assets/fonts/kievit/KievitPro-Regular,
  400,
  normal,
  woff2 woff
);

@include font-face(
  Kievit,
  assets/fonts/kievit/KievitPro-Bold,
  800,
  bold,
  woff2 woff
);

@include font-face(
  Oswald,
  assets/fonts/oswald/Oswald-Medium,
  500,
  normal,
  woff2 woff
);

@include font-face(
  Roboto,
  assets/fonts/roboto/RobotoCondensed-Regular,
  500,
  normal,
  woff2 woff
);
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Kievit", Arial, Helvetica, sans-serif;
  font-weight: 400;
  @include md {
    position: relative;
  }
}

.outer {
  @include f-c-c();
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  @include md {
    position: relative;
  }
  &__header {
    position: relative;
    margin: 0 20px;
    &-leftbordered {
      padding-left: 30px;
    }
    &-leftbordered .container__header__h:after {
      width: 100%;
      height: 100%;
      content: "";
      border-left: 4px solid #000;
      position: absolute;
      left: 0;
      top: 0;
    }
    position: relative;
    &-bottombordered {
      text-align: center;
      padding-bottom: 10px;
    }
    &-bottombordered .container__header__h:after {
      width: 50px;
      height: 100%;
      content: "";
      border-bottom: 4px solid #000;
      margin-left: -25px;
      position: absolute;
      left: 50%;
      top: 0;
    }
  }
}

.container-banner {
  height: 550px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include md {
    height: 300px;
  }
  @include sm {
    height: 160px;
  }
}

.block {
  @include f-row-nw();
  @include lg {
    padding: 50px 20px;
  }
  @include md {
    @include f-col();
    max-width: 100%;
  }
  padding: 100px 20px;
  &__content {
    width: 48%;
    order: 2;
    padding-left: 20px;
    @include md {
      width: 100%;
      padding: 0 10px;
    }
    &__header {
      margin: 0;
      @include md {
        margin-top: 30px;
      }
    }
  }
  &__img {
    order: 1;
    width: 48%;
    & img {
      width: 100%;
    }
    @include md {
      width: 100%;
    }
  }
}

h2 {
  font-size: 50px;
  font-weight: 400;
  font-family: "Kievit", Arial, Helvetica, sans-serif;
  color: #050505;
  @include md {
    font-size: 36px;
  }
}

a {
  color: #2d9cdb;
  transition: color 0.5s ease;
}

a:hover {
  color: #224e6c;
}
